

body {
    background: #f69ec4;
    font-family: "Lato", sans-serif;
  }
  
  h2 {
    color: #000;
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
  }
  
  .warpper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    background: #32557f;
    display: inline-block;
    color: #fff;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
  }
  
  .panels {
    background: #fff;
    box-shadow: 0 2rem 2rem #00000080;
    min-height: 200px;
    width: 80%;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
  }
  
  .panel {
    display: none;
    animation: fadein 0.8s;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .panel-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .radio {
    display: none;
  }
  
  #grades:checked ~ .panels #grades-panel,
  #subjects:checked ~ .panels #subjects-panel,
  #class:checked ~ .panels #class-panel,
  #school:checked ~ .panels #school-panel,
  #profile:checked ~ .panels #profile-panel {
    display: block;
  }
  
  #grades:checked ~ .tabs #grades-tab,
  #subjects:checked ~ .tabs #subjects-tab,
  #class:checked ~ .tabs #class-tab,
  #school:checked ~ .tabs #school-tab,
  #profile:checked ~ .tabs #profile-tab {
    background: #fff;
    color: #000;
    border-top: 3px solid #32557f;
  }
  