<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index.css" type="text/css">
    <title>Document</title>
</head>
<body>

<button>Log out</button>
<div class="warpper">
    <input class="radio" id="grades" name="group" type="radio">
    <input class="radio" id="subjects" name="group" type="radio" checked>
    <input class="radio" id="class" name="group" type="radio">
    <input class="radio" id="school" name="group" type="radio">
    <input class="radio" id="profile" name="group" type="radio">
    
    <div class="tabs">
        <label class="tab" id="grades-tab" for="grades"><a href="grades.html">Оцінки</a></label>
        <label class="tab" id="subjects-tab" for="subjects"><a href="subjects.html">Предмети</a></label>
        <label class="tab" id="class-tab" for="class"><a href="class.html">Мій клас</a></label>
        <label class="tab" id="school-tab" for="school"><a href="school.html">Школа</a></label>
        <label class="tab" id="profile-tab" for="profile"><a href="profile.html">Профіль</a></label>
    </div>
    
    <div class="panels">
        <div class="panel" id="subjects-panel">
            <div style="float: left;">Предмети </div><div id="subjects-class" style="float: left;">5-Б</div><br><br>
            <dd id="subjects-list">
                <dt id="subjects-list-item">subject1</dt>
                <dt id="subjects-list-item">subject2</dt>
                <dt id="subjects-list-item">subject3</dt>
                <dt id="subjects-list-item">subject4</dt>
                <dt id="subjects-list-item">subject5</dt>
            </dd>
        </div>
    </div>
</div>   
</body>
</html>